$desktop-size: 1440px;
$primary-color-violet: hsl(257, 40%, 49%);
$primary-color-soft-magenta: hsl(300, 69%, 71%);
$font-family-accent: 'Poppins';
$regular-weight-accent: 400;
$big-weight-accent: 600;
$font-family-primary: 'Open+Sans';
$regular-weight-primary: 400;
$font-size: 16px;